.vscode/**
.vscode-test/**
src/**
node_modules/**
.git/**
.gitignore
.env
.env.*
tsconfig.json
tsconfig.test.json
**/*.ts
**/*.map
*.vsix
out/test/**
out/packages/scanner/src/test/**
packages/scanner/dist-test/**
packages/scanner/src/test/**
playground/**
FIX_PROMPTS/**
